doctype html
head
  include includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2.blue Welcome, Howard!
    hr.thin-hr.padded
    div.flexbox.flex-col
      h3 Search for Posts
      div
        form(action="" onsubmit="lookup(this); return false;" method="GET").input-container
          label(for="search").floating-label 
            i.fa.fa-search
            | &nbsp; Search for posts
          input(type="text", name="search", id="search").floating-input
          input(type="submit" hidden)
        div#post_search_container
      h3 Visitors
      div
        table
          thead
            tr
              th country
              th region
              th city
              th visits
              th ip
          tbody
            each visitor in visitors
              tr
                td #{visitor.location.country}
                td #{visitor.location.region}
                td #{visitor.location.city}
                td #{visitor.visits}
                td #{visitor.ip}
      h3 Posts
      div.post-container
        a.post-link(href='/posts/add') 
          i.fa.fa-plus-circle
          | &nbsp;Add post
      each post in postdata
        div.post-container
          a(href="/posts/view_post?id=" + post.id)
            if post.type == "info"
              i.fa.fa-info-circle
            else if post.type == "blog"
              i.fa.fa-book
            else if post.type == "project"
              i.fa.fa-code
            else
              i.fa.fa-question-circle
            | &nbsp; #{post.title}
          div.edit-controls-container
            form(action="/posts/delete_post" method="POST")
              input(type="text" name="id" value=""+post.id hidden)
              button(type="submit")
                i.fa.fa-trash
            form(action="/posts/edit_post" method="POST")
              input(type="text" name="id" value=""+post.id hidden)              
              button(type="submit")
                i.fa.fa-pencil-square
          
